<div class="animated fadeInDown">
    <nav class="grey lighten-3">
      <div class="nav-wrapper">
         <ul class="left">
            <li>
                <a href="javascript:void(0)" data-activates="slide-main" class="grey-text button-collapse*">
                  <b class="fa fa-bars"></b>
                </a>
            </li>
            <li class="hide-on-med-and-up">
                <a href="javascript:void(0)" data-activates="slide-right" class="grey-text button-collapse*">
                  <b class="fa fa-info-circle"></b>
                </a>
            </li>
        </ul>
        <ul class="right hide-on-med-and-down">
            <!-- <li>
                <a href="javascript:void(0)" data-activates="slide-right" class="grey-text button-collapse*">
                    <b class="fa fa-bars"></b> Notificacions 
                    <div class="chip red white-text"> +99 </div>
                </a>
            </li> -->
            <li>
                <a href="#" class="btn animated-bg white-text" style="position: relative; padding-left: 64px; ">
                    <span class="app-icon"></span> 
                    <span>{{username}}</span>
                </a>
            </li>
            <li>
                <a class='dropdown-button btn white-text' href='#' data-activates='useroptions'>
                    <span class="fa fa-user micon"></span> 
                    <span>{{cepBtn}}</span>
                </a>
                <!-- Dropdown Structure -->
                <!-- <ul id='useroptions' class='dropdown-content'>
                    <li><a href="#!">Mis datos</a></li>
                    <li><a href="#!">Configuracion</a></li>
                    <li class="divider"></li>
                    <li><a href="#!">Logout</a></li>
                </ul> -->
            </li>
            <!-- <li>
                <a href="login/logout" class="grey-text" style="margin:0 5px;">
                    <b class="fa fa-sign-out"></b> LogOut
                </a>
            </li> -->
        </ul>
      </div>
    </nav>
</div>