<div id="bibliotaca">
	<h5>{{biblio.name}}</h5>
	<hr>
	<ul class="collection" id="libraryList" style="max-height: 450px;overflow: auto;">
		<li class="collection-item" *ngFor="let d of biblio.list; let i = index;">
			<b (click) = "modalFileManager(i)" ><i class="fa fa-file-pdf-o micon" aria-hidden="true"></i>{{d.name}}</b>
			<span class="secondary-content">
				<a href="#modalEditFile-{{i}}"class="modal-trigger tooltipped edit-btn micon" data-position="left" data-tooltip="Editar"><i class="fa fa-pencil"></i></a>
				<a (click)="confirmaction()" class="modal-trigger tooltipped edit-btn" data-position="left" data-tooltip="Eliminar"><i class="fa fa-trash-o"></i></a>
				<!-- Modal Edit file -->
				<div id="modalEditFile-{{i}}" class="modal modal-sm modal-fixed-footer" style="height: auto;">
					<div class="modal-content">
					  <h4>{{biblio.modal_ttl}}</h4>
					  <hr>
					  <form action="" class="row" oninput="filelist.value=file.value">
						<div class="input-field col s12">
							<i class="fa fa-file prefix"></i>
							<input id="titulo" type="text" class="validate" name="titulo" [(ngModel)]="d.name">
							<label for="titulo">{{biblio.modal_label_ttl}}</label>
				       	</div>
						<div class="input-field col s12">
							<i class="fa fa-pencil prefix"></i>
							<textarea id="description" name="description" class="materialize-textarea" [(ngModel)]="d.descripcion"></textarea>
							<label for="description">{{biblio.modal_label_descrip}}</label>
				        </div>
				        <div class="dropfile-field col s12">
							<p>Agregar archivo:</p>
							<ul class="collection" id="filecollection">
								<li class="collection-item" *ngFor="let f of d.files">
									<a href="public/pdf/sample.pdf" target="black">
										<i class="fa fa-eye"></i>
											<span>{{f.name}}</span>
									</a>
								</li>
							</ul>
							<label class="dropfile" for="file">
								<output name="filelist" for="file"></output>
							    <input type="file" id="file" />
							</label>
				        </div>
					  </form>
					</div>
					<div class="modal-footer">
					  <button type="submit" class="waves-effect waves-light btn white-text">{{biblio.modal_btn_accept}}</button>
					  <a href="#!" class="modal-action modal-close waves-effect waves-light btn-flat">{{biblio.modal_btn_cancel}}</a>
					</div>
				</div>
			</span>
		</li>
	</ul>
	<p class="right-align">
		<a href="#modalAddFile" class="modal-trigger waves-effect waves-light btn white-text"><i class="fa fa-plus micon"></i>Add a File</a>
	</p>
</div>
<!-- Modal Add file -->
<div id="modalAddFile" class="modal modal-sm modal-fixed-footer" style="height: auto;">
	<div class="modal-content">
	  <h4>{{biblio.modal_ttl}}</h4>
	  <hr>
	  <form action="" class="row" oninput="filelist.value=file.value">
		<div class="input-field col s12">
			<i class="fa fa-file prefix"></i>
			<input id="titulo" type="text" class="validate" name="titulo" >
			<label for="titulo">{{biblio.modal_label_ttl}}</label>
       	</div>
		<div class="input-field col s12">
			<i class="fa fa-pencil prefix"></i>
			<textarea id="description" name="description" class="materialize-textarea"></textarea>
			<label for="description">{{biblio.modal_label_descrip}}</label>
        </div>
        <div class="dropfile-field col s12">
			<p>Agregar archivo:</p>
			<ul class="collection" id="filecollection"></ul>
			<label class="dropfile" for="file">
				<output name="filelist" for="file"></output>
			    <input type="file" id="file" />
			</label>
        </div>
	  </form>
	</div>
	<div class="modal-footer">
	  <button type="submit" class="waves-effect waves-light btn white-text">{{biblio.modal_btn_accept}}</button>
	  <a href="#!" class="modal-action modal-close waves-effect waves-light btn-flat">{{biblio.modal_btn_cancel}}</a>
	</div>
</div>