<ul id="slide-right" class="side-nav collection" style="height: 100vh; display: none;">
  <li>
      <h5 class="center-align">Notifications</h5>
      <ul class="collection">
         <li class="collection-item avatar">
            <i class="fa fa-flag circle"></i>
            <span class="title">Title</span>
            <p>First Line <br>
               Second Line
            </p>
          </li>
          <li class="collection-item avatar">
            <i class="fa fa-flag circle green"></i>
            <span class="title">Title</span>
            <p>First Line <br>
               Second Line
            </p>
          </li>
          <li class="collection-item avatar">
            <i class="fa fa-flag circle red"></i>
            <span class="title">Title</span>
            <p>First Line <br>
               Second Line
            </p>
          </li>
      </ul>
  </li>
 </ul>