<article class="owl-carousel owl-theme " id="banner-carousel">
	<div class="item hero-panel" id="{{i}}" *ngFor="let b of banner; let i = index">
	  <span class="carousel-content" style="width:250px">{{b.text}}</span>
	  <img src="assets/images/banner/{{b.img}}.jpg" alt="ceptinel {{b.img}}" style="height:360px;object-fit:cover;">
	</div>
</article>