@font-face {
  font-family: exo;
  src: url(./../fonts/exo/Exo2-Regular.otf); }

@font-face {
  font-family: exo-light;
  src: url(./../fonts/exo/Exo2-Light.otf); }

@font-face {
  font-family: exo-bold;
  src: url(./../fonts/exo/Exo2-Bold.otf); }

@font-face {
  font-family: titillium;
  src: url(./../fonts/titillium/Titillium-Regular.otf); }

@font-face {
  font-family: titillium-light;
  src: url(./../fonts/titillium/Titillium-Light.otf); }

@font-face {
  font-family: titillium-bold;
  src: url(./../fonts/titillium/Titillium-Bold.otf); }

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #c7c7c7;
  border-radius: 15px;
  cursor: pointer; }

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #c7c7c7; }

*::-webkit-scrollbar-thumb {
  border: 1px solid #000;
  border-radius: 15px;
  background: #353d4b;
  -webkit-box-shadow: 0 0 2px black;
  box-shadow: 0 0 2px black; }

body,
.titillium {
  font-family: titillium; }

h1, h2, h3, h4, h5, h6, .exo {
  font-family: exo;
  color: #5a2c7e; }

hr {
  height: 2px;
  background: red;
  background: -webkit-gradient(linear, left top, right top, from(#5a2c7e), to(#ef414b));
  background: -webkit-linear-gradient(left, #5a2c7e, #ef414b);
  background: -o-linear-gradient(left, #5a2c7e, #ef414b);
  background: linear-gradient(to right, #5a2c7e, #ef414b);
  outline: none;
  border: none;
  border-radius: 8px; }

[data]:empty {
  width: 100%;
  height: 30px;
  background: -webkit-gradient(linear, left top, right top, from(#ef414b), to(#5a2c7e));
  background: -webkit-linear-gradient(left, #ef414b, #5a2c7e);
  background: -o-linear-gradient(left, #ef414b, #5a2c7e);
  background: linear-gradient(90deg, #ef414b, #5a2c7e);
  -webkit-animation: animgradient 2s ease infinite;
  animation: animgradient 2s ease infinite;
  background-size: 400% 400%; }

:not(pre) > code[class*="language-"] {
  padding: .1em .25em;
  border: solid 1px rgba(51, 51, 51, 0.12); }

button:not(.btn) {
  background: #fff;
  outline: none;
  border: 1px solid #e3d3f0;
  border-radius: 3px; }
  button:not(.btn):hover {
    border: 1px solid #5a2c7e; }
  button:not(.btn):active {
    border: 1px solid #5a2c7e; }

pre {
  position: relative;
  padding: 2rem 0 0 0;
  display: block;
  border: 1px solid #c7c7c7;
  margin: 0;
  background: #f5f5f5; }

pre::before {
  content: "Sample code";
  position: absolute;
  display: block;
  top: 0%;
  background: #c7c7c7;
  border: 1px solid #c7c7c7;
  padding: .5rem;
  color: #000; }

.app-icon::before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 100%;
  position: absolute;
  left: 9px;
  top: 0;
  background-image: url("../images/ceptinel-icon.svg");
  background-repeat: no-repeat;
  background-size: contain; }

.fxhover:hover {
  background-color: rgba(0, 0, 0, 0.05); }

.main-text-color {
  color: #ef414b; }

.second-text-color {
  color: #5a2c7e; }

.main-bg-color {
  background-color: #ef414b; }

.second-bg-color {
  background-color: #5a2c7e; }

.gradient-bg {
  background: -webkit-gradient(linear, left top, right top, from(#ef414b), to(#5a2c7e));
  background: -webkit-linear-gradient(left, #ef414b, #5a2c7e);
  background: -o-linear-gradient(left, #ef414b, #5a2c7e);
  background: linear-gradient(90deg, #ef414b, #5a2c7e); }

.animated-bg {
  background: -webkit-gradient(linear, left top, right top, from(#ef414b), to(#5a2c7e));
  background: -webkit-linear-gradient(left, #ef414b, #5a2c7e);
  background: -o-linear-gradient(left, #ef414b, #5a2c7e);
  background: linear-gradient(90deg, #ef414b, #5a2c7e);
  -webkit-animation: animgradient 2s ease infinite;
  animation: animgradient 2s ease infinite;
  background-size: 400% 400%; }

@-webkit-keyframes animgradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes animgradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

.bgimage {
  position: relative;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed; }
  .bgimage::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .8;
    z-index: -1;
    background: -webkit-gradient(linear, left top, right top, from(#ef414b), to(#5a2c7e));
    background: -webkit-linear-gradient(left, #ef414b, #5a2c7e);
    background: -o-linear-gradient(left, #ef414b, #5a2c7e);
    background: linear-gradient(90deg, #ef414b, #5a2c7e); }

._active {
  background-color: #ececec !important; }

.f-clear {
  clear: both !important; }

input + label {
  text-transform: capitalize; }

.path {
  -webkit-clip-path: polygon(100% 0, 100% 90%, 0 100%, 0 10%);
  clip-path: polygon(100% 0, 100% 90%, 0 100%, 0 10%); }

hr.clear {
  clear: both;
  border: none; }

body.isloading,
.isloading:not(body) {
  pointer-events: none; }

.isloading:not(body) > * {
  -webkit-filter: blur(2px);
  filter: blur(2px);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.isloading:not(body)::before,
body.isloading .oversite {
  content: '';
  display: block;
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.61);
  background-image: url("../images/ceptinel-loader.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50%;
  z-index: 99999;
  pointer-events: none; }
  .isloading:not(body)::before:not(body),
  body.isloading .oversite:not(body) {
    position: relative; }
  .isloading:not(body)::before:not(body)::before,
  body.isloading .oversite:not(body)::before {
    position: absolute; }

body.isloading > *:not(.oversite) {
  -webkit-filter: blur(2px);
  filter: blur(2px); }

.side-nav .collapsible-body li a,
.side-nav.fixed .collapsible-body li a {
  width: 100%; }

html {
  font-size: .8em; }

nav.toolbar {
  background: transparent; }

nav.toolbar ul a {
  color: #ef414b; }

.isloading {
  pointer-events: none; }

hr.clear {
  clear: both;
  border: transparent; }

nav {
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }

body {
  padding-left: 0; }

body.sidenav_hide {
  padding-left: 0; }

.side-nav .collapsible-header img {
  width: 35px;
  height: 100%;
  -o-object-fit: fill;
  object-fit: fill;
  display: inline-block;
  float: left;
  margin: 0 10px 0 0; }

.carousel-content {
  font-size: 1.8em !important;
  position: absolute;
  left: 5%;
  top: 5%;
  text-align: left; }

table tbody td .btn {
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7); }

input:checked + label {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  color: #616161; }

table.highlight > tbody > tr:hover {
  background-color: #ef414b;
  background: -moz-linear-gradient(left, white 0%, rgba(86, 166, 245, 0.25) 100%);
  background: -webkit-linear-gradient(left, white 0%, rgba(86, 166, 245, 0.25) 100%); }

label.error {
  top: 45px;
  color: red; }

.disabled {
  pointer-events: none;
  opacity: .45; }

.wizardstep {
  overflow: hidden; }

.mfp-content .card-content {
  padding: 0 !important; }

.mfp-content .card-content h5 {
  padding-left: 20px !important; }

.fc-day:hover {
  background-color: #efe6f6;
  cursor: pointer; }

.hoverdisplay:hover {
  background-color: #616161; }

.collection .collection-item:nth-child(odd) {
  background-color: inherit; }

.collection .collection-item:nth-child(even) {
  background-color: #f0f0f0; }

.hero-panel::after, .hero-panel::before {
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%); }

.hero-panel::after {
  width: 50%;
  background-color: rgba(239, 65, 75, 0.5); }

.hero-panel::before {
  width: 51%;
  background-color: rgba(90, 44, 126, 0.5); }

.hero-panel * {
  z-index: 1; }

label.dropfile {
  width: 100%;
  display: block;
  padding: 20px;
  border: 4px dashed #dbdbdb;
  border-radius: 5px;
  background: #fff;
  cursor: pointer; }
  label.dropfile:hover {
    border: 4px dashed #c6c6c6; }
    label.dropfile:hover:after {
      color: #c6c6c6; }
    label.dropfile:hover:before {
      color: #c6c6c6; }
  label.dropfile::after, label.dropfile::before {
    display: block;
    font-size: 1.8em;
    text-align: center;
    color: #dbdbdb; }
  label.dropfile::after {
    content: attr(data-text); }
  label.dropfile::before {
    font-size: 3em;
    content: "\f0ee";
    font-family: 'FontAwesome'; }
  label.dropfile > output {
    text-align: center;
    display: block;
    width: 100%; }
  label.dropfile > input[type="file"] {
    opacity: 0;
    display: none; }

/* Tablet and Below*/
@media only screen and (max-width: 993px) {
  .drag-target, #sidenav-overlay {
    display: inherit; }
  body {
    padding-left: 0; } }

.scrolling-wrapper-flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  overflow-x: auto; }
  .scrolling-wrapper-flexbox .itembox {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding: 0 20px; }

.picker__date-display {
  display: none; }

.carousel-content {
  font-size: 1.5em;
  font-weight: bold;
  color: #fff;
  text-shadow: -2px 2px 1px #5a2c7e, -4px 4px 4px #ef414b; }

.progress {
  background-color: #c3c3c3; }

.side-nav .collapsible-header,
.side-nav.fixed .collapsible-header {
  background-color: transparent;
  border: none;
  line-height: normal;
  height: inherit;
  padding: 16px; }

.collection-item p {
  margin: 0; }

[type="checkbox"] + label {
  padding-left: 22px; }

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
  color: #ef414b;
  text-transform: inherit; }

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating):hover {
  color: #d2121d; }

.tabs .tab a:hover, .tabs .tab a.active {
  color: #5a2c7e; }

.tabs .indicator {
  background-color: #ef414b; }

.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected {
  border-radius: 11%; }

.picker__day.picker__day--today {
  font-weight: bold; }

@media only screen and (min-width: 992px) {
  .modal.modal-sm {
    width: 30%; }
  .modal.modal-lg {
    width: 80%; } }

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  overflow: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start; }
  .flex-row.flex-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .flex-row.flex-nowrap {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
    .flex-row.flex-nowrap .flex {
      -ms-flex-negative: 0 !important;
      flex-shrink: 0 !important; }
  .flex-row .flex {
    float: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 1px; }
    .flex-row .flex[class*="push-"], .flex-row .flex[class*="pull-"] {
      position: relative; }
    .flex-row .flex.s1 {
      -ms-flex-preferred-size: 8.33333%;
      flex-basis: 8.33333%; }
    .flex-row .flex.s2 {
      -ms-flex-preferred-size: 16.66667%;
      flex-basis: 16.66667%; }
    .flex-row .flex.s3 {
      -ms-flex-preferred-size: 25%;
      flex-basis: 25%; }
    .flex-row .flex.s4 {
      -ms-flex-preferred-size: 33.33333%;
      flex-basis: 33.33333%; }
    .flex-row .flex.s5 {
      -ms-flex-preferred-size: 41.66667%;
      flex-basis: 41.66667%; }
    .flex-row .flex.s6 {
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%; }
    .flex-row .flex.s7 {
      -ms-flex-preferred-size: 58.33333%;
      flex-basis: 58.33333%; }
    .flex-row .flex.s8 {
      -ms-flex-preferred-size: 66.66667%;
      flex-basis: 66.66667%; }
    .flex-row .flex.s9 {
      -ms-flex-preferred-size: 75%;
      flex-basis: 75%; }
    .flex-row .flex.s10 {
      -ms-flex-preferred-size: 83.33333%;
      flex-basis: 83.33333%; }
    .flex-row .flex.s11 {
      -ms-flex-preferred-size: 91.66667%;
      flex-basis: 91.66667%; }
    .flex-row .flex.s12 {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%; }
    @media only screen and (min-width: 601px) {
      .flex-row .flex.m1 {
        -ms-flex-preferred-size: 8.33333%;
        flex-basis: 8.33333%; }
      .flex-row .flex.m2 {
        -ms-flex-preferred-size: 16.66667%;
        flex-basis: 16.66667%; }
      .flex-row .flex.m3 {
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%; }
      .flex-row .flex.m4 {
        -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%; }
      .flex-row .flex.m5 {
        -ms-flex-preferred-size: 41.66667%;
        flex-basis: 41.66667%; }
      .flex-row .flex.m6 {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%; }
      .flex-row .flex.m7 {
        -ms-flex-preferred-size: 58.33333%;
        flex-basis: 58.33333%; }
      .flex-row .flex.m8 {
        -ms-flex-preferred-size: 66.66667%;
        flex-basis: 66.66667%; }
      .flex-row .flex.m9 {
        -ms-flex-preferred-size: 75%;
        flex-basis: 75%; }
      .flex-row .flex.m10 {
        -ms-flex-preferred-size: 83.33333%;
        flex-basis: 83.33333%; }
      .flex-row .flex.m11 {
        -ms-flex-preferred-size: 91.66667%;
        flex-basis: 91.66667%; }
      .flex-row .flex.m12 {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%; } }
    @media only screen and (min-width: 993px) {
      .flex-row .flex.l1 {
        -ms-flex-preferred-size: 8.33333%;
        flex-basis: 8.33333%; }
      .flex-row .flex.l2 {
        -ms-flex-preferred-size: 16.66667%;
        flex-basis: 16.66667%; }
      .flex-row .flex.l3 {
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%; }
      .flex-row .flex.l4 {
        -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%; }
      .flex-row .flex.l5 {
        -ms-flex-preferred-size: 41.66667%;
        flex-basis: 41.66667%; }
      .flex-row .flex.l6 {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%; }
      .flex-row .flex.l7 {
        -ms-flex-preferred-size: 58.33333%;
        flex-basis: 58.33333%; }
      .flex-row .flex.l8 {
        -ms-flex-preferred-size: 66.66667%;
        flex-basis: 66.66667%; }
      .flex-row .flex.l9 {
        -ms-flex-preferred-size: 75%;
        flex-basis: 75%; }
      .flex-row .flex.l10 {
        -ms-flex-preferred-size: 83.33333%;
        flex-basis: 83.33333%; }
      .flex-row .flex.l11 {
        -ms-flex-preferred-size: 91.66667%;
        flex-basis: 91.66667%; }
      .flex-row .flex.l12 {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%; } }
    @media only screen and (min-width: 1201px) {
      .flex-row .flex.xl1 {
        -ms-flex-preferred-size: 8.33333%;
        flex-basis: 8.33333%; }
      .flex-row .flex.xl2 {
        -ms-flex-preferred-size: 16.66667%;
        flex-basis: 16.66667%; }
      .flex-row .flex.xl3 {
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%; }
      .flex-row .flex.xl4 {
        -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%; }
      .flex-row .flex.xl5 {
        -ms-flex-preferred-size: 41.66667%;
        flex-basis: 41.66667%; }
      .flex-row .flex.xl6 {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%; }
      .flex-row .flex.xl7 {
        -ms-flex-preferred-size: 58.33333%;
        flex-basis: 58.33333%; }
      .flex-row .flex.xl8 {
        -ms-flex-preferred-size: 66.66667%;
        flex-basis: 66.66667%; }
      .flex-row .flex.xl9 {
        -ms-flex-preferred-size: 75%;
        flex-basis: 75%; }
      .flex-row .flex.xl10 {
        -ms-flex-preferred-size: 83.33333%;
        flex-basis: 83.33333%; }
      .flex-row .flex.xl11 {
        -ms-flex-preferred-size: 91.66667%;
        flex-basis: 91.66667%; }
      .flex-row .flex.xl12 {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%; } }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  overflow: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start; }
  .flex.flex-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .flex.flex-wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .flex > .flexitem {
    padding: 1rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0; }
  .flex.flex-debug > .flexitem {
    border: 1px dashed #eee; }

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px; }

body {
  padding-left: 250px; }
