<app-nav></app-nav>
<app-sidenav></app-sidenav>
<app-sidenav-right></app-sidenav-right>
<main id="main-contetn" class="row">
  <section class="col s12">
  <br>
    <h5 [innerHTML]="title"></h5>
  <hr>
  </section>
  <section class="row">
    <article class="col s12 m8">
      <app-inicio></app-inicio>
    </article>
    <article class="col s12 m4">
      <app-tareas></app-tareas>
    </article>
  </section>
  <section class="row">
    <article class="col s12 m8">
      <app-biblioteca></app-biblioteca>
    </article>
    <article class="col s12 m4">
      <app-socialfeeds></app-socialfeeds>
    </article>
  </section>
  <section class="row" >
    <article class="col s12">
      <app-links></app-links>
    </article>
  </section>
</main>
<app-footer></app-footer>