<ul id="slide-main" class="side-nav" style="height: 100vh !important">
    <li>
        <h6 class="right-align" style="padding: 0 1rem">
          <img src="assets/images/ceptinel.svg" alt="logo" style="width: 100%;position: relative;top: 10px;display: block;">
          <b class="grey-text" style=" letter-spacing: 3.3px;">{{copy}}</b>
        </h6>
    </li>
    <li class="divider"></li>
    <li>
        <ul id="navList" class="collapsible" data-collapsible="accordion">
        	<li *ngFor="let d of navs; let i = index;" (click)="loadBanner(i)">
                <div class="collapsible-header">
                  <a href="{{d.link}}" style="width: 100%">
                    <img src="assets/images/icons/{{d.icon}}.svg" alt="{{d.icon}}" style="height:40px;"/>
                    {{d.name}}
                  </a>
                </div>
            </li>
        </ul>
    </li>
</ul>