<div id="socilatweew">
	<h5 class="left">{{social.name}}</h5>
	<hr class="f-clear"/>
	 <div class="row" style="max-height: 450px;overflow: auto;">
	    <div class="col s12" id="socialPanel">
			<ul class="tabs socialfeeds" id="socialTab">
				<li class="tab col s4" *ngFor="let key of redes">
					<a href="#tab-{{key}}">{{key}}</a>
				</li>
			</ul>
	    </div>
	    <div id="tab-{{key}}" class="col s12" *ngFor="let key of redes">
	    	<ul class="collection" id="list-{{key}}">
	    		<li class="collection-item" *ngFor="let s of social.rrss[key]">
	    			<h6>{{s.tittle}}</h6>
	    			<img src="assets/images/{{s.img}}" alt="{{s.img}}" style="width:100%;height:150px;objet-fit:cover;" />
	    			<p>{{s.text}}</p>
	    			<hr>
	    		</li>
	    	</ul>
	    </div>
  	</div>
</div>