<div id="tareas">
	<h5>{{tareas.name}}</h5>
	<hr>
	<ul class="collection" id="taskList" style="max-height: 450px;overflow: auto;">
		<li class="collection-item" *ngFor="let d of tareas.list; let i = index">
			<p>
				<a href="#editwork{{i}}" class="modal-trigger"><i class="fa fa-square micon {{d.color}}-text"></i>{{d.name}}</a>
				<span class="secondary-content">
					<input type="checkbox" id="task-{{i}}" [(ngModel)]="d.checked" [ngModelOptions]="{standalone: true}"/>
		      		<label for="task-{{i}}">{{d.label}}</label>
					<a class="btn-flat waves-effect waves-light" (click)="confirmaction()">
						<i class="fa fa-trash"></i>
					</a>
				</span>
			</p>
			<!-- Modal Structure -->
			<div id="editwork{{i}}" class="modal modal-sm modal-fixed-footer" style="height: auto;">
				<div class="modal-content">
				  <h4>Edit Task</h4>
				  <hr>
				  <form action="" class="row">
					<div class="input-field col s12">
						<i class="fa fa-file prefix"></i>
						<input id="titulo" type="text" class="validate" name="titulo" [(ngModel)]="d.name">
						<label for="titulo">{{tareas.label_ttl}}</label>
			       	</div>
					<div class="input-field col s12">
						<i class="fa fa-bell prefix"></i>
						<select >
							<option value="" disabled selected>{{tareas.label_option0}}</option>
							<option value="1">{{tareas.label_option1}}</option>
							<option value="2">{{tareas.label_option2}}</option>
							<option value="3">{{tareas.label_option3}}</option>
						</select>
						<label>{{tareas.label_priority}}</label>
					</div>
					<div class="input-field col s12">
						<i class="fa fa-calendar prefix"></i>
						<input id="fecha" type="text" class="datepicker validate" name="fecha">
						<label for="fecha">{{tareas.label_date}}</label>
					</div>
					<div class="input-field col s12">
						<i class="fa fa-pencil prefix"></i>
						<textarea id="description" class="materialize-textarea"></textarea>
						<label for="description">{{tareas.label_descrip}}</label>
			        </div>
				  </form>
				</div>
				<div class="modal-footer">
				  <button type="submit" class="waves-light btn white-text">
				  	<span>{{tareas.modal_accept}}</span>
				  </button>
				  <a href="#!" class="modal-action modal-close waves-light btn-flat">
				  	<span>{{tareas.modal_cancel}}</span>
				  </a>
				</div>
			</div>
		</li>
	</ul>
</div>
<!-- Modal Trigger -->
<p class="right-align">
	<a class="waves-effect waves-light btn modal-trigger white-text" href="#addwork">
		<i class="fa fa-plus micon"></i>
		<span>{{tareas.name}}</span>
	</a>
</p>
<!-- Modal Structure -->
<div id="addwork" class="modal modal-sm modal-fixed-footer" style="height: auto;">
	<div class="modal-content">
	  <h4>{{tareas.modal_ttl}}</h4>
	  <hr>
	  <form action="" class="row">
		<div class="input-field col s12">
			<i class="fa fa-file prefix"></i>
			<input id="titulo" type="text" class="validate" name="titulo">
			<label for="titulo">{{tareas.label_ttl}}</label>
       	</div>
		<div class="input-field col s12">
			<i class="fa fa-bell prefix"></i>
			<select >
				<option value="" disabled selected>{{tareas.label_option0}}</option>
				<option value="1">{{tareas.label_option1}}</option>
				<option value="2">{{tareas.label_option2}}</option>
				<option value="3">{{tareas.label_option3}}</option>
			</select>
			<label>{{tareas.label_priority}}</label>
		</div>
		<div class="input-field col s12">
			<i class="fa fa-calendar prefix"></i>
			<input id="fecha" type="text" class="datepicker validate" name="fecha">
			<label for="fecha">{{tareas.label_date}}</label>
		</div>
		<div class="input-field col s12">
			<i class="fa fa-pencil prefix"></i>
			<textarea id="description" class="materialize-textarea"></textarea>
			<label for="description">{{tareas.label_descrip}}</label>
        </div>
	  </form>
	</div>
	<div class="modal-footer">
	  <button type="submit" class="waves-light btn white-text">
	  	<span>{{tareas.modal_accept}}</span>
	  </button>
	  <a href="#!" class="modal-action modal-close waves-light btn-flat">
	  	<span>{{tareas.modal_cancel}}</span>
	  </a>
	</div>
</div>