<div class="row grey lighten-4" style="padding-bottom: 30px"> 
  <hr>
  <p class="right-align grey-text" style="display: block;padding:1rem 2rem 0 0">
    Ceptinel - &copy; 2018 All right reserved
  </p>
</div>