#links{
  position: fixed;
  width: 100%;
  top: 93vh;
  background: white;
  box-shadow: 0px -4px 10px 0px rgba(0,0,0,.3) !important;
  z-index: 4;
  margin: 0 -9px;
}

.micon {
	margin-right: 5px;
}