<nav id="links" class="white">
  <div class="scrolling-wrapper-flexbox" style="margin-left: 142px;">
      <div id="linksList" class="itembox main-bg-color" style="position: absolute; left: 0">
      	<a href="#addlink" class="white-text modal-trigger">
          <i class="fa fa-plus micon"></i> <span>{{links.name}}</span>
        </a>
      </div>
      <div class="itembox fxhover" *ngFor="let d of links.list">
      	<a href="{{d.link}}" target="_blank">{{d.name}}</a>
      </div>
  </div>
</nav>
<!-- Modal Structure -->
<div id="addlink" class="modal modal-sm" style="height: auto;">
	<div class="modal-content">
	  <h4>{{links.modal_ttl}}</h4>
	  <hr>
	  <form action="" class="row">
		<div class="input-field col s12">
          <i class="fa fa-pencil prefix"></i>
          <input id="name" type="text" class="validate" name="name">
          <label for="name">{{links.modal_label_name}}</label>
        </div>
        <div class="input-field col s12">
          <i class="fa fa-link prefix"></i>
          <input id="url" type="text" class="validate" name="url">
          <label for="url">{{links.modal_label_url}}</label>
        </div>
	  </form>
	</div>
	<div class="modal-footer">
	  <button type="submit" class="waves-effect waves-light btn white-text">{{links.modal_btn_accept}}</button>
	  <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" data="links-modal_btn_accept">{{links.modal_btn_cancel}}</a>
	</div>
</div>